.login{
	width: 50%;
	margin: 20px auto;
	background: rgb(19,106,138);
	background: linear-gradient(30deg, rgba(19,106,138,1) 0%, rgba(38,120,113,1) 100%);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	color: black;
	position: relative;
}

h1{
	font-weight: 500;
	margin-left: 30px;
	margin-bottom: 20px;
}

h1:after{
	content: '';
	position: relative;
	display: block;
	bottom: -5px;
	width: 50px;
	height: 2px;
	background-color: white;
}

form{
	
}

form div{
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.inputBox{
	width: calc(100%/2 - 60px);
	margin: 10px 0;
}

label{
	font-size: 20px;
	font-weight: 300;
}

input{
	margin-top: 5px;
	height: 45px;
	width: 100%;
	outline: none;
	font-size: 16px;
	border-radius: 5px;
	padding-left: 15px;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	transition: all 0.3 ease;
}

.submit{
	width: 50%;
	border-radius: 20px;
	border: none;
	margin: 30px 0;
}

.radioBox{
	display: flex;
	flex-direction: row;
}

.center{
	width: 100%;
	text-align: center;
}

input[type=checkbox]{
	transform: scale(0.7);
}