body{
	background-color: #27374e;
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	scroll-behavior: smooth;
	color: white;
}

nav{
	display: flex;
	width: 100%;
	margin: 0;
	background-color:white;
}

nav img{
	margin-top: 0.5vh;
	margin-left: 20px;
	height: 9vh;
}

ul{
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	padding: 0;
	height: 10vh;
}

li{
	list-style: none;
	height: 30px;
}

a{
	color: black;
	text-decoration: none;
	font-size: 105%;
	font-weight: bold;
}

li:hover{
	transition: 0.3s;
	transform: scale(1.1);
}

li::before {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  top: 30px;
  background-color: black;
  transition: transform 300ms ease-in-out;

  transform: scaleX(0);
}

li:hover::before,
li:focus::before {
  transform: scaleX(1);
}

h1{
	font-weight: 700;
}

h2{
	font-weight: 300;
}
